[submodule "third_party/re2"]
	path = third_party/re2
	url = https://hub.fastgit.org/google/re2
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://hub.fastgit.org/google/googletest.git
[submodule "third_party/abseil-cpp"]
	path = third_party/abseil-cpp
	url = https://hub.fastgit.org/abseil/abseil-cpp.git
[submodule "third_party/protobuf"]
	path = third_party/protobuf
	url = https://hub.fastgit.org/laoqian12345/protobuf.git
[submodule "third_party/capstone"]
	path = third_party/capstone
	url = https://hub.fastgit.org/aquynh/capstone.git
[submodule "third_party/demumble"]
	path = third_party/demumble
	url = https://hub.fastgit.org/nico/demumble.git
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://hub.fastgit.org/madler/zlib
